@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--spacing-theme: 2.5rem;
	--color-theme-midnight: light-dark(var(--color-slate-500), var(--color-slate-900));
	--color-theme-dark: light-dark(var(--color-slate-500), var(--color-slate-500));
	--color-theme-base: light-dark(var(--color-slate-400), var(--color-slate-600));
	--color-theme-light: light-dark(var(--color-slate-300), var(--color-slate-700));
	--color-theme-white: light-dark(var(--color-white), var(--color-slate-950));
	--color-theme-red: light-dark(var(--color-red-500), var(--color-red-400));
	--color-theme-green: light-dark(var(--color-green-500), var(--color-green-500));
	--color-theme-yellow: light-dark(var(--color-yellow-500), var(--color-yellow-500));
	--color-theme-sky: light-dark(var(--color-sky-500), var(--color-sky-600));
	--color-theme-sky-light: light-dark(var(--color-sky-300), var(--color-sky-700));
}

html {
	font-family: Arial, Helvetica, sans-serif;
	@apply h-full overscroll-none;
}

.dark {
	@apply scheme-dark;
}

body {
	@apply h-full bg-theme-base antialiased;
}

main {
	@apply relative mx-auto pt-10 min-h-screen w-full bg-theme-white pb-2 sm:max-w-2xl;
}

@utility focus-none {
	@apply outline-hidden select-none focus:outline-hidden focus-visible:outline-hidden;
}

@utility btnx {
	@apply flex cursor-pointer appearance-none items-center justify-center;
}

@utility btnx-transition {
	@apply transition duration-300 hover:opacity-90 active:scale-90;
}

@utility btnx-focus {
	@apply focus:ring-2 focus-visible:ring-2;
}

@utility link-transition {
	@apply transition duration-300 hover:scale-110 hover:opacity-90;
}

.game-link {
	@apply link-transition cursor-pointer focus-none focus:scale-110 focus-visible:scale-110;
}

.btnx-primary {
	@apply btnx btnx-transition rounded bg-theme-sky py-1 font-bold text-theme-white btnx-focus focus-none focus:ring-theme-sky-light;
}
